<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.farm.web.mapper.FarmReviewMapper">
    
    <resultMap type="FarmReview" id="FarmReviewResult">
        <result property="id"    column="id"    />
        <result property="mark"    column="mark"    />
        <result property="info"    column="info"    />
        <result property="projectId"    column="project_id"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectFarmReviewVo">
        SELECT
            r.*,
            p.`name` as name,
            u.user_name as user_name
        FROM
            farm_review r
                JOIN sys_user u ON r.user_id = u.user_id
                JOIN farm_project p ON p.id = r.project_id
    </sql>

    <select id="selectFarmReviewList" parameterType="FarmReview" resultMap="FarmReviewResult">
        <include refid="selectFarmReviewVo"/>
        <where>  
            <if test="mark != null  and mark != ''"> and mark = #{mark}</if>
            <if test="info != null  and info != ''"> and info = #{info}</if>
            <if test="projectId != null "> and project_id = #{projectId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
        </where>
    </select>
    
    <select id="selectFarmReviewById" parameterType="Long" resultMap="FarmReviewResult">
        <include refid="selectFarmReviewVo"/>
        where r.id = #{id}
    </select>

    <insert id="insertFarmReview" parameterType="FarmReview">
        insert into farm_review
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="mark != null">mark,</if>
            <if test="info != null">info,</if>
            <if test="projectId != null">project_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="status != null">status ,</if>
            <if test="reason != null">reason ,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="mark != null">#{mark},</if>
            <if test="info != null">#{info},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="status != null">#{status},</if>
            <if test="reason != null">#{reason},</if>
         </trim>
    </insert>

    <update id="updateFarmReview" parameterType="FarmReview">
        update farm_review
        <trim prefix="SET" suffixOverrides=",">
            <if test="mark != null">mark = #{mark},</if>
            <if test="info != null">info = #{info},</if>
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="status != null">status = #{status},</if>
            <if test="reason != null">reason = #{reason},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>

        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFarmReviewById" parameterType="Long">
        delete from farm_review where id = #{id}
    </delete>

    <delete id="deleteFarmReviewByIds" parameterType="String">
        delete from farm_review where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>