<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.farm.web.mapper.FarmOrderMapper">
    
    <resultMap type="FarmOrder" id="FarmOrderResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="projectId"    column="project_id"    />
        <result property="price"    column="price"    />
        <result property="orderStatus"    column="order_status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectFarmOrderVo">
        select id, user_id, project_id, price, order_status, create_by, create_time, update_by, update_time, remark from farm_order
    </sql>

    <select id="selectFarmOrderList" parameterType="FarmOrder" resultMap="FarmOrderResult">
        SELECT
        u.user_name as userName,
        p.name as projectName,
        i.`name` AS farmName,
        o.*
        FROM
        farm_order o
        JOIN sys_user u ON o.user_id = u.user_id
        JOIN farm_project p ON p.id = o.project_id
        JOIN farm_info i ON i.id = p.farm_id
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="projectId != null "> and project_id = #{projectId}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="orderStatus != null  and orderStatus != ''"> and order_status = #{orderStatus}</if>
        </where>
    </select>
    
    <select id="selectFarmOrderById" parameterType="Long" resultMap="FarmOrderResult">
        <include refid="selectFarmOrderVo"/>
        where id = #{id}
    </select>
    <select id="getMonthOrderPrice" resultType="com.farm.web.domain.CountObject">
        SELECT
            DATE_FORMAT(create_time, '%Y-%m') AS name,
            SUM(price) AS value
        FROM
            farm_order
        WHERE
            create_time >= DATE_SUB(CURDATE(), INTERVAL 1 YEAR)
        GROUP BY
            DATE_FORMAT(create_time, '%Y-%m')
        ORDER BY
            name ASC;
    </select>

    <insert id="insertFarmOrder" parameterType="FarmOrder">
        insert into farm_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="projectId != null">project_id,</if>
            <if test="price != null">price,</if>
            <if test="orderStatus != null">order_status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="price != null">#{price},</if>
            <if test="orderStatus != null">#{orderStatus},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateFarmOrder" parameterType="FarmOrder">
        update farm_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="price != null">price = #{price},</if>
            <if test="orderStatus != null">order_status = #{orderStatus},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFarmOrderById" parameterType="Long">
        delete from farm_order where id = #{id}
    </delete>

    <delete id="deleteFarmOrderByIds" parameterType="String">
        delete from farm_order where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>